[Desktop Entry]
Encoding=UTF-8
Name=COMMACOIN
Comment=COMMACOIN P2P Cryptocurrency
Comment[fr]=COMMACOIN, monnaie virtuelle cryptographique pair à pair
Comment[tr]=COMMACOIN, eşten eşe kriptografik sanal para birimi
Exec=commacoin-qt %u
Terminal=false
Type=Application
Icon=commacoin128
MimeType=x-scheme-handler/commacoin;
Categories=Office;Finance;
