#include <windows.h>             // needed for VERSIONINFO
#include "clientversion.h"       // holds the needed client version information

#define VER_PRODUCTVERSION     CMCENT_VERSION_MAJOR,CMCENT_VERSION_MINOR,CMCENT_VERSION_REVISION,CMCENT_VERSION_BUILD
#define VER_PRODUCTVERSION_STR STRINGIZE(CMCENT_VERSION_MAJOR) "." STRINGIZE(CMCENT_VERSION_MINOR) "." STRINGIZE(CMCENT_VERSION_REVISION) "." STRINGIZE(CMCENT_VERSION_BUILD)
#define VER_FILEVERSION        VER_PRODUCTVERSION
#define VER_FILEVERSION_STR    VER_PRODUCTVERSION_STR

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4" // U.S. English - multilingual (hex)
        BEGIN
            VALUE "CompanyName",        "COMMACOIN"
            VALUE "FileDescription",    "commacoind (OSS daemon/client for COMMACOIN)"
            VALUE "FileVersion",        VER_FILEVERSION_STR
            VALUE "InternalName",       "commacoind"
            VALUE "LegalCopyright",     COPYRIGHT_STR
            VALUE "LegalTrademarks1",   "Distributed under the MIT/X11 software license, see the accompanying file COPYING or http://www.opensource.org/licenses/mit-license.php."
            VALUE "OriginalFilename",   "commacoind.exe"
            VALUE "ProductName",        "commacoind"
            VALUE "ProductVersion",     VER_PRODUCTVERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1252 // language neutral - multilingual (decimal)
    END
END
