[Unit]
Description=COMMACOIN's distributed currency daemon
After=network.target

[Service]
User=commacoin
Group=commacoin

Type=forking
PIDFile=/var/lib/commacoind/commacoind.pid

ExecStart=/usr/bin/commacoind -daemon -pid=/var/lib/commacoind/commacoind.pid \
          -conf=/etc/commacoin/commacoin.conf -datadir=/var/lib/commacoind

ExecStop=-/usr/bin/commacoin-cli -conf=/etc/commacoin/commacoin.conf \
         -datadir=/var/lib/commacoind stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
